<form name="editForm" role="form" novalidate (ngSubmit)="registerUser()" #editForm="ngForm">
  <span mat-dialog-title="">Register to EpyNotes</span>
  <mat-dialog-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" name="user" [(ngModel)]="authUser.user">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Password" name="pass" [(ngModel)]="authUser.pass">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="right">
    <button mat-raised-button="" mat-dialog-close="">
      <mat-icon>block</mat-icon> Cancel
    </button>
    <button mat-raised-button="" color="accent" type="submit">
      <mat-icon>check_circle</mat-icon> Register
    </button>
  </mat-dialog-actions>
</form>
